---
layout: layouts/base.njk
title: Posts
---
<h1>Hot vulnerabilities</h1>
<ul class="post-list">
  {% for post in collections.post | reverse %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <span class="date">{{ post.date | date("yyyy-LL-dd") }}</span>
    </li>
  {% endfor %}
</ul>